

span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
    overflow: hidden;
}

#wrapper {
    width:100%;
    height: 100%;
    margin: px;
    padding: 1px;
    overflow: hidden;
}

#header {
    height: 70px;
    width: 101%;
    padding: 10px;
    text-align: center;
    position: center;
    top: -6px;
    margin: 0px;
    overflow: hidden;
    float: right;
}
#map {
    
    width: 1050 px;
    height: 585px;
    margin: 0;
    overflow-y: hidden;
    position: relative;
    left: -5px;
    top: 3px;
}

#info {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    width: 20%;
    height:;
    float: left;
    border: 5px solid black ;
    margin: 0px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 30px;
    position: relative;
    left: -6px;
    top: 2px;

}
#logo{
     height: inherit;
     width: 23%;
     position: absolute;
     left: 91px;
     top: 1px;
     padding: 9px;
}
img#logo-img{
    border: 5px solid black;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 25px;
}
.nav-pills li{
    border: 5px solid black;
    margin: 0px;
    right: -500px;
    list-style: none;
    padding-left: 0px;
    padding-bottom: px;
    position: absolute;
    border-radius: 10px;
}
.nav-pills{
    margin: 0px;
    height: 49px;
    display: inline;
    position: relative;
}

{
    text-align: left;
    height: 1px;
    position: absolute;
    float: right;
    width: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
}

input{
    border-radius: 15px;
    width: 202px;
    height: 28px;
    margin-bottom: 20px;
}
.glyphicon{
    float: left;
    padding-right: 10px;
}
#arrow-container{
    margin-top: 20px;
    margin-bottom: 0;
    width: 213px;
    height: 30px;
    position: relative;
    left: -4px;
}
#spectrum {
    margin-top: 0;
    width: 214px;
    height: 40px;
    position: relative;
    top: -3px;
    left: -4px;
}
#label-low{
    margin-right: 200px;
}
#label-high{
    margin-right: 1px;
}
.tabs{
    background-color: white;
    width: 100%;
    height: 350px;
    padding: 0px;
}
.tab-link{
    display: inline-block;
    border: 5px solid black;
    width: 75%;
    height: 50px;
    text-align: center;
    margin: 0px;
    padding: 10px;
    position: relative;
    top: 0px;
    right: -30px;
    border-radius: 5px 5px 0 0;
}

.bootTable{
    margin-right: 0px;
    height: 300px;
    width: 100%;
    display: block;
    border: 5px solid black;
    overflow: visible;
    z-index: 99;
}
#active{
    border-bottom: none;
    background-color: lightsteelblue;
}
.dropdown{
    text-align: center;
    position: relative;
    top: 140px;
    left: 0px;
    width: 80px;
    overflow: visible;
    z-index: 99
}
.dropdown-menu{
    overflow: visible;
    z-index: 99;
}
html body{
    width: 100%;
    height: 100%;
}
#bootTable{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 228px;
    position: relative;
    left: -11px;
    padding: 10px;
}