

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
        overflow: hidden;
}

#wrapper {
    width:100%;
    height: 100%;
    margin: 0 ;
    padding:0;
    overflow: hidden;
}

#header {
    height: 55px;
    width: 100%;
    box-shadow: 0 5px 10px grey;
    padding: 3px;
    text-align: center;
    position: relative;
    top: -6px;
    margin: 0;
    overflow: hidden;
}
#map {
    
    width: 1050 px;
    height: 585px;
    margin: 0;
    overflow-y: hidden;
    position: relative;
    left: -5px;
    top: 3px;
    
    
}

#info {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    width: 20%;
    height: 605px;
    float: left;
    border: 1px groove #f2f2f2 ;
    margin: 0;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 30px;
    position: relative;
    left: -6px;
    top: -6px;

}
#logo{
     
     height: inherit;
     width: 40%;
     position: absolute;
     left: -2px;
     top: 3px;
     padding: 6px;
     
     
}
img#logo-img{
    width: 250px;
    height: 40px;
    position: absolute;
    left: 5px;
}
li{
    list-style: none;
    padding-left: 70px;
    padding-bottom: 15px;
    
}
nav ul li{
    display: inline;
    
}
nav{
    position: absolute;
    right: 150px;
    text-align: left;
    top:25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}
input{
    border-radius: 15px;
    width: 230px;
    height: 28px;
    margin-bottom: 20px;
}
.glyphicon{
    float: left;
    padding-right: 10px;
}
#arrow-container{
    margin-top: 20px;
    margin-bottom: 0;
    width: 300px;
    height: 30px;
    position: relative;
    left: -4px;
}
#spectrum {
    margin-top: 0;
    width: 300px;
    height: 40px;
    position: relative;
    top: -3px;
    left: -4px;
}
#label-low{
    margin-right: 200px;
}
#label-high{
    margin-right: 0;
}
.tabs{
    
    background-color:#ffffff;
    width: 100%;
    height: 350px;
    padding: 0;
    
}
.tab-link{
    display:inline-block;
    border: 1px solid black;
    width: 45%;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 2px;
    position: relative;
    top: 3px;
    border-radius: 5px 5px 0 0;
}
.tab-content{
    margin: 0;
    height: 300px;
    width: 100%;
    display: block;
    border:1px groove transparent;
     box-shadow: 3px 3px grey;
}
#active{
    border-bottom: none;
    background-color: dimgrey;
}